@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-text: "rgb(30, 24, 21)";
    --color-background: "rgb(251, 250, 249)";
    --color-primary: "rgb(141, 165, 176)";
    --color-secondary: "rgb(216, 197, 197)";
    --color-accent: "rgb(86, 112, 123)";
  }
  html[data-theme="dark"] {
    --color-text: "rgb(251, 250, 249)";
    --color-background: "rgb(30, 24, 21)";
    --color-primary: "rgb(141, 165, 176)";
    --color-secondary: "rgb(3, 2, 2)";
    --color-accent: "rgb(168, 186, 194)";
  }
}
